{% extends "base.html" %}
{% block title %}Collections - {{collection.longer_name}}{% endblock%}

{% block content %}
<h1>{{collection.longer_name}}</h1>
  {% if collection.description %}
    <p>{{collection.description|safe}}
    
    {% if collection.url_about_collection %}
    <br /><strong>See also</strong>: <a href="{{collection.url_about_collection}}">Website about {{collection}}</a></p>
  	{% endif %}
  </p>
  	  
  {% endif %}
    <p>There are <strong>{{doc_count}}</strong> items in this collection.</p>

  	

  </ul>
  	
  {% if document_list %}
    {% for document in document_list %}
      <h2><a href="/data/{{ document.id }}/">{{document.name}} - {{document.brief_description }}</a></h2>        
    {% endfor %}
  {% else %}
  <h2>Nothing available</h2>
    <p>Items are currently being added to this collection and are
    in the process being reviewed. <a href"/contact">Contact</a> us for more information.</p>
  {% endif %}


{% if collection.extra_description %}
		<h2>More details</h2>
		<p>{{ collection.extra_description }}</p>
  	{% endif %}
  	
{% endblock%}

{% block bread %}
  <a href="/">Vocab</a>
  &rsaquo; <a href="/browse/">Browse</a>
  &rsaquo; <a href="/data/collects/">Collections</a>
  &rsaquo; {{collection|title}} <a href="/admin/vdata/collection/{{collection}}" class="hidelink">Edit collection</a>

{% endblock%}
 