{% extends "base.html" %}
{% block title %}Collections - {{collection.longer_name}}{% endblock%}

{% block content %}
<h1>{{collection.longer_name}}</h1>
        
  <p><strong>Collection name</strong>: {{collection}}</p>
  {% if collection.description %}
    <p>{{collection.description|safe}}
  {% endif %}
    
  {% if collection.url_about_collection %}
    {% if not collection.description %}
      <p>
    {% endif %}
    <a href="{{collection.url_about_collection}}">Website for {{collection}}</a></p>
  {% endif %}

  {% comment %}
  The following works, but it is not that efficient.
  It would work best if each collection had a subpage
  with a filter on the document list. 
  {% endcomment %}   
    
  {% if document_list %}
  	<h2>This collection contains</h2>
    <ul>
    {% for document in document_list %}
      {% if document.collection.collection == collection.collection %}
      <li><a href="/data/{{ document.id }}/">{{document.name}}</a> - {{document.brief_description }}</li>
      {% endif %}         
    {% endfor %}
    </ul>
  {% else %}
    <p>No items are available.</p>
  {% endif %}


{% endblock%}

{% block bread %}
  <a href="/">Vocab</a>
  &rsaquo; <a href="/browse/">Browse</a>
  &rsaquo; <a href="/data/collects/">Collections</a>
  &rsaquo; {{collection|title}}<a href="/admin/vdata/collection/{{collection}}">.</a>

{% endblock%}
 