{% extends "base.html" %}
{% block title %}Collections - {{collection.longer_name}}{% endblock%}

{% block content %}
<h1>{{collection.longer_name}}</h1>
  <ul>
  <li><strong>Collection name</strong>: {{collection}}</li>
  <li><strong>Number of items</strong>: {{doc_count}}</li>  
  
  {% if collection.description %}
    </ul>{{collection.description|safe}}<ul>	  
  {% endif %}
    
  	{% if collection.url_about_collection %}
    	<li><strong>See also</strong>: <a href="{{collection.url_about_collection}}">Website about {{collection}}</a></li>
  	{% endif %}
  
    <li>The documents below are available in this collection.</li>
  	<li>Click the document name to see more information.</li>
  </ul>
  	
  {% if document_list %}
    {% for document in document_list %}
      <h2><a href="/data/{{ document.id }}/">{{document.name}}</a> - {{document.brief_description }}</h2>        
    {% endfor %}
  {% else %}
  <h2>Nothing available</h2>
    <p>Items are currently being added to this collection and are
    in the process being reviewed. <a href"/contact">Contact</a> us for more information.</p>
  {% endif %}


{% endblock%}

{% block bread %}
  <a href="/">Vocab</a>
  &rsaquo; <a href="/browse/">Browse</a>
  &rsaquo; <a href="/data/collects/">Collections</a>
  &rsaquo; {{collection|title}}<a href="/admin/vdata/collection/{{collection}}">.</a>

{% endblock%}
 