{% extends "base.html" %}
{% block title %}Collections{% endblock%}

{% block content %}
<h1>Collections</h1>
<p>This store groups documents into a range of collections to make easier 
to locate those that have some relationship.</p>
<ul><li>Click the short name to see a collection's details and documents it contains.</li>
<li>There are currently  
 {% if doc_count %}
    {{doc_count}}
  {% else %}
    0
  {% endif %}
 documents spead across the collections.</li>
</ul>
{% for collection in collection_list %}
  <h2><a href="/data/collects/{{collection}}">{{collection}}</a> - {{collection.longer_name}}</h2> 
          
  {% if collection.description %}
    <p>{{collection.description|safe}}
  {% endif %}
    
  {% if collection.url_about_collection %}
    {% if not collection.description %}
      <p>
    {% endif %}
    <a href="{{collection.url_about_collection}}">Website for {{collection}}</a></p>
  {% endif %}

  
{% endfor %} {% comment %} This ends the collection loop. {% endcomment %}

{% endblock%}

{% block bread %}
  <a href="/">Vocab</a>
  &rsaquo; <a href="/browse/">Browse</a>
  &rsaquo; Collections<a href="/admin/vdata/collection/">.</a>

{% endblock%}
 