{% extends "base.html" %}
{% block title %}Collections{% endblock%}

{% block content %}
<h1>Collections</h1>
<p>This store groups 
 {% if doc_count %}
    {{doc_count}}
  {% else %}
    0
  {% endif %}
vocabularies into  
{% if col_count %}
    {{col_count}}
  {% else %}
    0
  {% endif %}
  collections to make it easier to locate related items.</p>

<p>Click a short name to view a collection.</p>
{% for collection in collection_list %}
  <h2><a href="/data/collects/{{collection}}">{{collection}}</a> - {{collection.longer_name}}</h2> 
          
  {% if collection.description %}
    <p>{{collection.description|safe}}
  {% endif %}
    
  {% if collection.url_about_collection %}
    {% if not collection.description %}
      <p>
    {% endif %}
    <br/>See also: <a href="{{collection.url_about_collection}}">additional information about {{collection}}</a></p>
  {% endif %}

  
{% endfor %} {% comment %} This ends the collection loop. {% endcomment %}

{% endblock%}

{% block bread %}
  <a href="/">Vocab</a>
  &rsaquo; <a href="/browse/">Browse</a>
  &rsaquo; Collections<a href="/admin/vdata/collection/">.</a>

{% endblock%}
 