{% extends "base.html" %}
{% block title %}{{document.name}}{% endblock%}
 {% block content %}
<h1>{{document.name}}</h1>
<p>{{document.brief_description}}</p>
<p><strong>Description</strong>: {{document.description}}</p>
<ul>
<li>This page is maintained by: {{document.maintainer}}</li>
<li><strong>Download:</strong> <a href="/data/{{document.id}}/native/">{{document.name}} in {{document.format}}</a></li>
<li><strong>Admin users:</strong> <a href="/admin/vdata/document/{{document.id}}/">Edit {{document.name}}</a></li>
</ul>
{% endblock%}

{% block bread %}

  <a href="/">Vocab</a>
  &rsaquo; <a href="/browse/">Browse</a>
  &rsaquo; <a href="/data/">AZ list</a>
  &rsaquo; {{document.name}}

{% endblock%}
 