{% extends "base.html" %}
{% block title %}AZ list of items{% endblock%}

{% block content %}
<h1>AZ list of items</h1>

<p>The following items sorted by name are available.</p>
{% if document_list %}
    {% for document in document_list %}
    
        <h2>{{document.name}} - {{document.brief_description }}</h2>
        <p><a href="/data/{{ document.id }}/">About {{document.name}}</a>
        | <strong>collection</strong>: <a href="/data/collects/{{document.collection}}">{{document.collection}}</a>
        | <strong>maintainer</strong>: <a href="/contact/">{{document.maintainer}}</a>
		| <strong>see</strong>: <a href="/data/{{ document.id }}/native/">{{document.name}} in {{document.format}}</a>
		{% if document.version_current %}
        	| <strong>version</strong>: {{document.version_current }}
        {% endif %}         
    {% endfor %}
{% else %}
    <p>No docs are available.</p>
{% endif %}

{% endblock%}

{% block bread %}
  <a href="/">Vocab</a>
  &rsaquo; <a href="/browse/">Browse</a>
  &rsaquo; AZ list<a href="/admin/vdata/document/">.</a>

{% endblock%}
 