{% extends "base.html" %}
{% block title %}AZ list of items{% endblock%}

{% block content %}
<h1>Alphabetical list of items</h1>

{% if docs %}
<p>The following vocabularies and associated files are available.</p>
<div class="pagination">
	<p><strong>
	<span class="current">
            Page {{ docs.number }} of {{ docs.paginator.num_pages }}
        </span>
	</strong> 
    <span class="step-links">
    
    {% if docs.has_previous or docs.has_next %}
            
        {% if docs.has_previous %}
 <a href="?page={{ docs.previous_page_number }}">&laquo; previous page</a>
        {% else %}
        	 &laquo; previous page
        {% endif %}

    
        {% if docs.has_next %} 
            <a href="?page={{ docs.next_page_number }}">next page &raquo;</a>
        {% else %}
        	next page &raquo;
        {% endif %}
        
    {% endif %}
    </span>
    </p>
</div>

    {% for document in docs %}
    
        <h2>{{document.name}} - {{document.brief_description }}</h2>
        <p><a href="/data/{{ document.id }}/">About {{document.name}}</a>
        | <strong>collection</strong>: <a href="/data/collects/{{document.collection}}">{{document.collection}}</a>
        | <strong>maintainer</strong>: <a href="/contact/">{{document.maintainer}}</a>
		| <strong>see</strong>: <a href="/data/{{ document.id }}/native/">{{document.name}} in {{document.format}}</a>
		{% if document.version_current %}
        	| <strong>version</strong>: {{document.version_current }}
        {% endif %}         
    {% endfor %}
    
<div class="pagination">
	<p><strong>
	<span class="current">
            Page {{ docs.number }} of {{ docs.paginator.num_pages }}
        </span>
	</strong> 
    <span class="step-links">
    
    {% if docs.has_previous or docs.has_next %}
            
        {% if docs.has_previous %}
 <a href="?page={{ docs.previous_page_number }}">&laquo; previous page</a>
        {% else %}
        	 &laquo; previous page
        {% endif %}

    
        {% if docs.has_next %} 
            <a href="?page={{ docs.next_page_number }}">next page &raquo;</a>
        {% else %}
        	next page &raquo;
        {% endif %}
        
    {% endif %}
    </span>
    </p>
</div>

{% else %}
    <p>There are currently no items available to show.</p>
{% endif %}

{% endblock%}

{% block bread %}
  <a href="/">Vocab</a>
  &rsaquo; <a href="/browse/">Browse</a>
  &rsaquo; AZ list<a href="/admin/vdata/document/">.</a>

{% endblock%}
 