<h1> Vocabularies available</h1>
<p>The following items sorted into alphabetical order by name are available.
{% if document_list %}

    {% for document in document_list %}
        <h2><a href="/data/{{ document.id }}/"> {{document.name}}</a> - {{document.brief_description }}</h2>
        <p>{{document.description }}
        <em>Contact:</em> {{document.maintainer}}
        <em>Download:</em> <a href="/data/{{document.id}}/native/">{{document.name}} in {{document.format}}</p> 
    {% endfor %}
   
{% else %}
    <p>No docs are available.</p>
{% endif %}
<p><a href="/">Home</a> | Vocabularies available</p>