{% extends "base.html" %}
{% block title %}{{document.name}} in {{document.format}}{% endblock%}

{% block content %}
<h1>{{document.name}} in {{document.format}}</h1>
<p>There are two ways of looking at this document.
<h2>1. Download</h2>
<p>You can save <a href="/data/{{document.id}}/download/">{{document.name}} in {{document.format}}</a>
to your computer.</p> 

<h2>2. View online</h2>
<p>The downloaded file contains the following which you
can cut and paste into your favourite text editor.</p>
<form name="native">
 <textarea rows="15" cols="20" name="text">
{{document.text|safe}}
</textarea>
</form>
<p>The <a href="/data/{{document.id}}/web/">automatic html</a> page might have
the above file with syntax highlighting.</p>

<h2>Persistent links</h2>
<p>If an item has been given a version number the following
links are enabled.</p>

<ul>
<li><strong>Information page</strong>:
{% if document.version_current %}
	<a href="/{{document.name}}/{{document.version_current }}/info/">/{{document.name}}/{{document.version_current }}/info/</a>
{% else %}
	/{{document.name}}/{{document.version_current|default:"vernumber" }}/info/
{% endif %}
</li>

<li><strong>Direct download</strong>:
{% if document.version_current %}
	<a href="/{{document.name}}/{{document.version_current }}/">/{{document.name}}/{{document.version_current }}/</a>
{% else %}
	/{{document.name}}/{{ document.version_current|default:"vernumber" }}/
{% endif %}
</li>

</ul>

<p>The latest version or only version of this item is available
at the following location. </p>
<ul>
<li><strong>Latest version</strong>:
<a href="/{{document.name}}/">/{{document.name}}/</a>
</ul>

                  
{% endblock%}

{% block bread %}

  <a href="/">Vocab</a>
  &rsaquo; <a href="/browse/">Browse</a>
  &rsaquo; <a href="/data/">AZ list</a>
  &rsaquo; <a href="/data/{{document.id}}/">{{document.name}}</a>
  &rsaquo; {{document.name}} in {{document.format}}
{% endblock%}
 