{% extends "base.html" %}
{% block title %}{{document.name}} in {{document.format}}{% endblock%}

{% block content %}
<h1>{{document.name}} in {{document.format}}</h1>
<p>There are two ways of looking at this document.
<h2>1. Download</h2>
<p>You can save <a href="/data/{{document.id}}/download/">{{document.name}} in {{document.format}}</a>
to your computer.</p> 

<h2>2. View online</h2>
<p>The downloaded file contains the following which you
can cut and paste into your favourite text editor.</p>
<form name="native">
 <textarea rows="15" cols="20" name="text">
{{document.text|safe}}
</textarea>
</form>

{% endblock%}

{% block bread %}

  <a href="/">Vocab</a>
  &rsaquo; <a href="/browse/">Browse</a>
  &rsaquo; <a href="/data/">AZ list</a>
  &rsaquo; <a href="/data/{{document.id}}/">{{document.name}}</a>
  &rsaquo; {{document.name}} in {{document.format}}
{% endblock%}
 